.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 142px);
}

.login-form {
    background-color: #f5f1e4;
    margin: auto;
    width: 75%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.login-form input {
    font-size: 16px;
    padding: 5px 10px;
    outline: none;
    border: none;
}