.login {
    height: 100vh;
    background-color: rgb(255,249,239);
}

.logo {
    padding-top: 13vh;
    padding-bottom: 5vh;
    display: flex;
    margin: auto;
}

.login-form {
    margin: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.login-form input {
    height: 50px;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.submit{
    width: 86vw;
}

.login-input {
    background-color: rgb(189,185,178);
    padding: 0px 3vw;
    width: 80vw;
}

::placeholder {
    color: white;
    opacity: 1;
}

.submit{
    background-color: #25313CFF;
}

.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #f8eeb4, #f1d07a);
    color: #333;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 10px;
}