.article-content {
    display: flex;
    align-items: center;
    padding: 1vh 0;
    color: #333333;
}

.articles form {
    padding-left: 16vw;
    padding-bottom: 2vh;
    width: 70vw;
    justify-content: space-between;
}

.articles input {
    border: none;
    padding: 0 5px;
    height: 30px;
}

.articles-text-input {
    border-radius: 5px;
    margin: 0 2vw;
    width: 40vw;
    height: 30px;
    background-color: #BFBEBB;;
    color: #333333;
    border: none;
}

.boxes-name {
    width: 70.9vw;
}

.boxes-amount {
    width: 10vw;
    text-align: center;
    color: #D97467FF;
}

.boxes-text-input {
    border-radius: 5px;
    margin: 0 2vw;
    width: 30vw;
    height: 30px;
    background-color: #BFBEBB;;
    color: #333333;
    border: none;
}

.articles-number-input {
    border-radius: 5px;
    margin: 0 2vw;
    width: 5vw;
    background-color: #BFBEBB;;
    color: #333333;
    text-align: center;
}

.articles-add-confirm {
    background-color: #25313c;
    color: white;
    width: 30px;
    border-radius: 15px;
}

.load-page {
    width: 30px;
    height: 30px;
    margin: auto;
    padding: 30px 0;
}

.load {
    float:left;
    width: 30px;
    height: 30px;
    align-items: center;
    position: relative;
}


.modifier-div {
    width: 14vw;
    margin: 2vh 1vw;
}

.add-article {
    width: 50vw;
    margin: 0 25vw;
    font-size: 25px;
    font-weight: normal;
    color: #333333;
    background-color: rgb(0,0,0,0%);
    border: none;
    text-align: center;
}

.modifier-div button {
    background-color: #25313c;
    color: white;
    padding: 7px 5px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    display: block;
    margin: auto;
}

.article-row:nth-child(even) {
    background-color: #EBE5DB;
}

.article-row {
    background-color: #FFF9EFFF;
}