body {
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 15px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  width: 60%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the list */
}

li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 10px;
}

strong {
  margin-right: 5px;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 6px 6px; /* Adjust the padding for a smaller button */
  cursor: pointer;
  border-radius: 4px;
  bottom: 20px;
  right: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}
