.loading {
    text-align: center;
}

.client-row:nth-child(even) {
    background-color: lightgray;
}

.hidden {
    display: none;
}

.validate {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 100;
}

.validate-content {
    position: fixed;
    top: 20%;
    background-color: tomato;
    padding-block: 30px;
    padding-inline: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boxes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.article h3 {
    padding-block: 5px;
}

.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.article input {
    width: 40px;
    height: 25px;
}

.article select {
    width: 100px;
    height: 30px;
}

.article button {
    width: 30px;
    height: 30px;
}

.client-row:after {
    position: absolute;
    content: '';
    border-bottom: 1px solid tomato;
    width: calc(100% - 20px);
    right: 10px;
}

.client-row-item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-block: 20px;
    margin-inline: 10px;
}

.confirm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.google-maps-logo {
    max-height: 30px;
}